/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  width: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 1px;
}

video {
  height: 50vh;
}
