:root {
  --star-size: 15px;
  --star-color: rgb(116, 116, 116);
  --star-background: rgb(218, 174, 2);
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
